@model HorizonRE.Models.Appointment

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container">
    <div class="row">
        <h1 class="display-4 text-center mt-5">Schedule Appointment</h1>
    </div>


    @using (@Html.BeginForm("Add", "Appointment", FormMethod.Post))
    {
        <div class="input-group mb-3 w-50">

            @Html.TextBox("email", ViewBag.EmailCurrent as string)
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
            </div>
        </div>


        if (ViewBag.Customer != null)
        {
   

            <div class="row my-5 justify-content-around">
                <div class="col-md-5">
                    <h2>Customer Information</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                @ViewBag.Customer.FullName
                            </div>
                            <div class="card-text">
                                <ul class="list-unstyled">
                                    <li>@ViewBag.Customer.Phone</li>
                                    <li>@ViewBag.Customer.Email</li>
                                    <li>@ViewBag.Customer.StreetAddress</li>
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <h2 class="mt-5">Search listing</h2>
            <div class="card border-0">
                <div class="input-group">
                    @Html.TextBox("listingId", ViewBag.CurrentListing as string);
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Find</button>
                    </div>
                </div>
            </div>
        }


        if (ViewBag.Listing != null)
        {
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">
                        Listing #@ViewBag.Listing.ListingId
                    </div>
                    <div class="card-text">
                        <p>Address: @ViewBag.Listing.StreetAddress @ViewBag.Listing.City</p>
                    </div>
                </div>
            </div>





            <div class="col-md-5">
                <h2>Appointment Information</h2>

                @ViewBag.Customer.CustomerId
                <div class="card border-0">
                    <div class="form-group">
                        @Html.LabelFor(m => m.StartDate)
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EndDate)
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Agents")
                        @Html.DropDownListFor(m => m.EmployeeId, ViewBag.EmployeeId as SelectList);
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Comment)
                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Hidden("ListingId", new { ViewBag.Listing.ListingId})
                    </div>




                    <input type="submit" value="Submit" class="btn btn-primary float-right" />
                </div>


            </div>

        }

    }

</div>
