@model HorizonRE.Models.Appointment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-md-5 mt-sm-0">
    <i class="fas fa-arrow-left text-primary"></i>
    @Html.ActionLink("Back to Appointments", "Index", "Appoinmtent")
    <h2 class="text-center display-4">Edit Appointment</h2>
    @using (Html.BeginForm("Edit", "Appointment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-5">
            <div class="form-group">
                @Html.Label("Start")
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control",
               type = "datetime-local", id="start"})
                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("End")
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control",
               type = "datetime-local",
               id = "end"})
                @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                    @Html.Label("Agent")
                    @Html.DropDownList("AgentsList", ViewBag.AgentsList as SelectList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Customer")
                    @Html.DropDownList("CustomersList", ViewBag.CustomersList as SelectList, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Comment)
                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Listing number")
                    @Html.TextBoxFor(m => m.ListingId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ListingId, "", new { @class = "text-danger" })
                </div>

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
</div>

<script>
    window.addEventListener("DOMContentLoaded", (event) => {
       //populate datetime controls
        let startControl = document.getElementById('start');
        let endControl = document.getElementById('end');

        let start = document.getElementById('start').getAttribute("value");
        let end = document.getElementById('end').getAttribute("value");

        let stDate = moment(new Date(start)).format().slice(0, 19);
        let endDate = moment(new Date(end)).format().slice(0, 19);

        startControl.value = stDate;
       
        endControl.value = endDate;
    });

</script>
