@model HorizonRE.ViewModel.CustomerListing

@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


@using (@Html.BeginForm("ScheduleConfirm", "Appointment", FormMethod.Post))
{
    <div class="col-md-5">
        <h2>Appointment Information</h2>

        <div class="card border-0">
            <div class="form-group">
                @Html.LabelFor(m => m.Appointment.StartDate)
                @Html.TextBoxFor(m => m.Appointment.StartDate, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Appointment.EndDate)
                @Html.TextBoxFor(m => m.Appointment.EndDate, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.Label("Agents")
                @Html.DropDownList("AgentsList", null, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Appointment.Comment)
                @Html.TextAreaFor(m => m.Appointment.Comment, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.Label("Listing Id")
                @Html.TextBoxFor(m => m.Appointment.ListingId, new {@class = "form-control"})
            </div>


            <input type="submit" value="Submit" class="btn btn-primary float-right"/>
        </div>
    </div>
}
