@model HorizonRE.Models.Listing

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>

@if(ViewBag.Error != null)
{
    <h1>ERRORR FSDFDSFSDFDS</h1>
}

@using (Html.BeginForm("Create", "ListingsManagement", FormMethod.Post, new  { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">

        @Html.LabelFor(m => m.StreetAddress)
        @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Province)
        @Html.TextBoxFor(m => m.Province, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.PostalCode)
        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.CityArea)
        @Html.DropDownListFor(m => m.CityArea, ViewBag.CityAreas as SelectList, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Area)
        @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Bathrooms)
        @Html.TextBoxFor(m => m.Bathrooms, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Bedrooms)
        @Html.TextBoxFor(m => m.Bedrooms, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee)
        @Html.DropDownListFor(m => m.Employee, ViewBag.Employees as SelectList, new { @class = "form-control" })
    </div>

    <div class="form-check">
        @Html.CheckBoxFor(m => m.ContractSigned, new { @class = "form-check-input" })
        @Html.LabelFor(m => m.ContractSigned, new { @class = "form-check-label mb-4" })
    </div>









    <div class="form-group">

        @Html.TextBox("Images", "", new { @class = "form-control mb-4", type = "file", multiple = "multiple", id="files" })
    </div>


    @Html.Label("Features")

    <div class="container">
        @{
            List<HorizonRE.ViewModel.AssociatedFeatures>
                features = ViewBag.Features;


            int count = 0;
            //FINISH

            <div class="row justify-content-center">

                @foreach (var f in features)
                {




                    count++;


                    <div class="form-check mr-5 w-25 mb-3">
                        <input type="checkbox" class="form-check-input" value="@f.Available" />
                        <label class="form-check-label">@f.Title</label>
                    </div>
                }

            </div>





        }
    </div>



    <input type="submit" value="Submit" class="btn btn-success btn-lg" />

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    let files = document.querySelector('#files');

    let filePath = window.location;

    console.log(filePath)


</script>