@model HorizonRE.Models.Listing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <h3 class="display-4 ml-3 mb-3">Property #@Model.ListingId</h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="main-thumbnail mb-3">
                @{var mainThumb = Model.Images.First(i => i.ListingId == Model.ListingId); }
                <img src="@mainThumb.Path" alt="" class="img-thumbnail w-80" />
            </div>
            <div class="owl-carousel owl-theme">
                @foreach (var img in Model.Images)
                {
                    <div class="item mx-2">
                        <div class="card">
                            <img class="card-img-top" src="@img.Path" alt="" />
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="text-center mb-3 display-4">Overview</h3>
                    <hr>
                    <h4 class="text-center font-weight-bold mb-3">@Model.Price.ToString("C0")</h4>
                    <div class="row d-flex flex-wrap ml-2">
                        <p class="w-50">
                            <i class="fas fa-home mr-2"></i>
                            @Model.Area sq.ft.
                        </p>

                        <p class="w-50">
                            <i class="fas fa-map-marked-alt mr-2"></i>
                            Area: @Model.CityArea.Name
                        </p>
                        <p class="w-50">
                            <i class="fas fa-door-open mr-2"></i> Bedrooms:
                            @Model.Bedrooms
                        </p>
                        <p class="w-50">
                            <i class="fas fa-bath mr-2"></i> Bathrooms:
                            @Model.Bathrooms
                        </p>
                    </div>
                    <h4 class="font-weight-bold text-center">Amenities</h4>
                    <div class="row d-flex flex-wrap ml-2">
                        <p class="w-50"> Oil heat</p>
                        <p class="w-50"> Pool</p>
                        <p class="w-50"> Near the school</p>
                        <p class="w-50"> Near the museum</p>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="text-center mb-3 display-4">Agent Info</h3>
                    <hr>
                    <p>
                        <i class="fa fa-user-circle mr-2"></i>
                        @Model.Employee.FirstName @Model.Employee.LastName

                    </p>
                    <p>
                        <i class="fas fa-mail-bulk mr-2"></i>
                        <a href="mailto:@Model.Employee.OfficeEmail.ToString()">
                            @Model.Employee.OfficeEmail
                        </a>
                    </p>
                    <p><i class="fas fa-phone-alt mr-2"></i> @Model.Employee.OfficePhone</p>
                    <p><i class="fas fa-mobile-alt mr-3"></i> @Model.Employee.CellPhone</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    i {
        color: #717171;
    }
</style>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });

    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 5,
        autoplay: true

    });
</script>

