
@model IEnumerable<HorizonRE.Models.Listing>
@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*LISTINGS*@

<div class="container-fluid  mx-lg-5 px-lg-5">
    <h1 class="display-4 text-center my-5">LISTINGS</h1>
    <div class="row">
        <div class="col-md-4 col-lg-2 p-2 border border-light mb-5">
            @using (@Html.BeginForm("Search", "Listings", FormMethod.Get))
            {
                <h3>Location</h3>


                <div class="form-group">
                    @Html.Label("Country", new {@class = "font-weight-bold"})
                    @Html.DropDownList("CountryList", null, new {@class = "form-control "})

                </div>
                <div class="form-group">
                    @Html.Label("Province", new {@class = "font-weight-bold"})
                    @Html.DropDownList("ProvincesList", null, new {@class = "form-control scrollable-menu"})
                </div>

                <div class="form-group">
                    @Html.Label("City", new {@class = "font-weight-bold"})
                    @Html.TextBox("City", "", new {@class = "form-control"})
                </div>

                <hr/>

                <h3>Parameters</h3>
                <div class="form-group">
                    <label class="font-weight-bold">Bedrooms</label>
                    <input type="number" name="bedrooms" value="0" min="0" max="5" step="1"/>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Bathrooms</label>
                    <input type="number" name="bathrooms" value="0" min="0" max="5" step="1"/>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Bedrooms</label>
                    <input type="number" value="0" min="0" max="5" step="1"/>
                </div>

                <hr/>

                <div class="form-group">
                    <div class="form-row align-items-center">
                        @Html.Label("Price", new {@class = "font-weight-bold p-0 m-0"})
                        <div class="col">
                            @Html.TextBox("City", "", new {@class = "form-control", placeholder = "From"})
                        </div>
                        <div class="col">
                            @Html.TextBox("City", "", new {@class = "form-control", placeholder = "To"})
                        </div>

                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name="priceOrder" id="priceOrder" class="custom-control-input">
                        <label class="custom-control-label" for="priceOrder">Price High-to-Low</label>
                    </div>


                </div>

                <button type="submit" class="btn btn-outline-cta btn-block">Find</button>
            }


        </div>

        <div class="col-md-8 col-lg-10 justify-content-center ">
            
            @foreach(var l in Model){ 

                <div class="card mb-3 mx-auto" style="max-width: 900px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Content/Asset/Images/house2.jpg" class="card-img img-thumbnail" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">@l.ListingId </h3>
                                <p class="card-text font-weight-bold text-success"> @l.Price</p>
                                <p><span class="font-weight-bold">Agent Name:</span> @l.Employee.FirstName @l.Employee.LastName</p>
                                <div class="row justify-content-end">
                                    @Html.ActionLink("Details", "Details", "Listings", new {@class = "btn btn-cta  mr-3 text-white"})
                                </div>

                            </div>

                        </div>
                    </div>
                </div>




                
            }

            
            @*<div class="card mb-3 mx-auto" style="max-width: 900px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/Asset/Images/house2.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">House 2 </h3>
                            <p class="card-text font-weight-bold text-success"> $125,000</p>
                            <p><span class="font-weight-bold">Agent Name:</span> John Doe</p>
                            <div class="row justify-content-end">
                                @Html.ActionLink("Details", "Details", "Listings", new {@class = "btn btn-cta  mr-3 text-white"})
                            </div>
                        </div>


                    </div>
                </div>
            </div>*@


        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/InputSpinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>