@using System.Web.UI.WebControls
@model PagedList.IPagedList<HorizonRE.Models.Listing>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="display-4 text-center my-5">LISTINGS</h1>
    <div class="row">
        <div class="col-md-4 col-lg-3 p-2 border border-light mb-5 pl-5">
            @using (@Html.BeginForm("Index", "Listings", FormMethod.Get))
            {
                <h3>Location</h3>


                <div class="form-group">
                    @Html.Label("Country", new { @class = "font-weight-bold" })
                    @Html.DropDownList("CountryList", null, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.Label("Province", new { @class = "font-weight-bold" })
                    @Html.DropDownList("ProvincesList", null, new { @class = "form-control scrollable-menu" })
                </div>

                <div class="form-group">
                    @Html.Label("City", new { @class = "font-weight-bold" })
                    @Html.TextBox("citySearch", ViewBag.CurrentCity as string, new { @class = "form-control" })
                </div>

                <hr />

                <h3>Parameters</h3>
                <div class="form-group">
                    <label class="font-weight-bold">Bedrooms</label>

                    @Html.TextBox("bedrooms", ViewBag.CurrentBedrooms as string, new { @class = "form-control", type="number", value = "0", min = "0", max = "5", step = "1" })
                    @*<input type="number" name="bedrooms" value="0" min="0" max="5" step="1" />*@
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Bathrooms</label>
                    @Html.TextBox("bathrooms", ViewBag.CurrentBathrooms as string, new { @class = "form-control", type = "number", value = "0", min = "0", max = "5", step = "1" })
                </div>



                <hr />

                <div class="form-group">
                    <div class="form-row align-items-center">
                        @Html.Label("Price", new { @class = "font-weight-bold p-0 m-0" })
                        <div class="col">
                            @Html.TextBox("priceFrom", ViewBag.CurrentPriceFrom as string, new { @class = "form-control", placeholder = "From" })
                        </div>
                        <div class="col">
                            @Html.TextBox("priceTo", ViewBag.CurrentPriceTo as string, new { @class = "form-control", placeholder = "To" })
                        </div>

                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name="priceOrder" value="true" class="custom-control-input" id="price">
                        <input type="hidden" value="@ViewBag.CurrentOrder" name="priceOrder" />
                        <label class="custom-control-label" for="price">Price High-to-Low</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-cta btn-block">Find</button>
            }


        </div>

        <div class="col-md-8 col-lg-9 justify-content-center ">

            @foreach (var l in Model)
            {
                var image = l.Images.FirstOrDefault(i => i.ListingId == l.ListingId);


                <a href="/Listings/Details/@l.ListingId" class="card-link text-dark">
                    <div class="card mb-3">
                        <div class="row no-gutters">

                            <div class="col-auto">
                                <img src="@image.Path" class="img-fluid" style="width: 250px !important; height: 250px !important" alt="@image.AltText">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="row">
                                            <div class="col">
                                                @l.StreetAddress, @l.City
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <span class="badge badge-cta text-white">@l.Price.ToString("C0")</span>
                                            </div>
                                        </div>

                                    </div>
                                    <p class="text-muted small">@l.City | @l.ListingStartDate.ToShortDateString()</p>

                                    <p>
                                        Nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.
                                    </p>
                                    <p>
                                        @l.Area sq.ft
                                    </p>
                                    <p class="mb-0">
                                        <span class="font-weight-bold">Agent:</span> @l.Employee.FirstName @l.Employee.LastName
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>

                </a>
                @*<div class="row">
                        <div class="col-lg-4 col-md-6 pr-0 ">



                        </div>
                        <div class="col-lg-8 col-md-6 pl-0 ">
                            <a href="/Listings/Details/@l.ListingId" class="card-link text-dark">
                                <div class="card mb-3 h-100 border-left-0">

                                    <div class="card-body">
                                        <h3 class="card-title"> @l.StreetAddress, @l.City </h3>
                                        <p class="text-muted small">@l.City | @l.ListingStartDate.ToShortDateString()</p>
                                        <h3 class="card-text">
                                            <span class="badge badge-cta text-white" style="position: absolute; top: 20px; right: 20px">@l.Price.ToString("C0")</span>
                                        </h3>
                                        <p>
                                            Nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.
                                        </p>
                                        <p>
                                            @l.Area sq.ft
                                        </p>
                                        <p class="mb-0">
                                            <span class="font-weight-bold">Agent:</span> @l.Employee.FirstName @l.Employee.LastName
                                        </p>
                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>*@
            }


            @*<div class="card mb-3 mx-auto" style="max-width: 900px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Content/Asset/Images/house2.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">House 2 </h3>
                                <p class="card-text font-weight-bold text-success"> $125,000</p>
                                <p><span class="font-weight-bold">Agent Name:</span> John Doe</p>
                                <div class="row justify-content-end">
                                    @Html.ActionLink("Details", "Details", "Listings", new { id = l.ListingId }, new {@class = "btn btn-cta  mr-3 text-white"})
                                </div>
                            </div>


                        </div>
                    </div>
                </div>*@


            <div class="container">
                <div class="row justify-content-start">

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, citySearch = ViewBag.CurrentCity, CountryList = ViewBag.CurrentCountry, ProvincesList = ViewBag.CurrentProvince, bedrooms = ViewBag.CurrentBedrooms, bathrooms=ViewBag.CurrentBathrooms, priceFrom = ViewBag.CurrentPriceFrom, priceTo = ViewBag.CurrentPriceTo, priceOrder = ViewBag.CurrentOrder }))
                </div>
            </div>

        </div>

    </div>

</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/InputSpinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>